
.image {
    width:30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-top:3%;
}

.text {
    text-align: center;
}

body {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right:2rem;
    padding-bottom:2rem;
}

.card-title { 
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 2%;
}



.btn {
    text-align: center;
    align-items: center;
    margin:auto;
    position: fixed;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.notif {
    width: 2%;
    float:right;
    margin-right:1%;
    margin-top:1.1%;
}

.contact {
    position:relative;
    
}

.context {
    margin-left:20%;
    margin-right:20%;
    min-height: 100%;
}


