<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Processing</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="col-3"></div>

        <div class="col-6">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Make Payment</h5>
                  <p class="card-text">Use PayPal for secure transactions!</p>
                  <div id='paypal_button'></div>
                </div>
            </div>

        </div>

        <div class="col-3"></div>
        
    </div>
    
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
        current_url = window.location.href;
        console.log(current_url);
        var CREATE_PAYMENT_URL  = current_url + '/create';
        var EXECUTE_PAYMENT_URL = current_url + '/execute';
    
        paypal.Button.render({
    
            env: 'sandbox', // Or 'sandbox'
    
            commit: true, // Show a 'Pay Now' button
    
            payment: function() {
                return paypal.request.post(CREATE_PAYMENT_URL).then(function(data) {
                    return data.paymentID;
                });
            },
    
            onAuthorize: function(data) {
                return paypal.request.post(EXECUTE_PAYMENT_URL, {
                    paymentID: data.paymentID,
                    payerID:   data.payerID
                }).then(function(res) {
    
                    console.log(res.success)
                    // The payment is complete!
                    // You can now show a confirmation message to the customer
                });
            }
    
        }, '#paypal_button');
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</body>
</html>