@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');


body {
    padding-top: 1rem;
    padding-bottom:1rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

.logo {
    font-weight:bold;
    font-size:5vh;
}

.logoimg {
    width:20%;
    border:1px
}

.footer {
    color:grey;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.card-title { 
    font-weight: bold;
    padding-top: 2%;
}


.applyButton {
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card {
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: stretch;
}

.applicationButtonCentering {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.indiv-listingRow {
    display:flex;
    justify-content: center;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

/* .card {
    text-align: left;
    align-items: stretch;
    width: 18rem;
} */

.listingNumber {
    font-size: 80%;
    margin-top:3%;
    font-family: 'Work Sans', sans-serif;
}

.customerIDNumber {
    margin-top:1px;
    color:grey;
}

.card-img-top.details {
    height:auto;
    width:60%;
}

.indivListingDetailsRow{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.returnButton {
    margin-left:20px;
}